body {
  background-color: #e3cfac !important ;
}
nav {
  height: 100px;
  width: 100%;
}
.library-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #a57f54;
  z-index: 999;
}
.highlight-book {
  margin-top: 50px;
}
h1.title {
  height: 100px !important;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin: 0px 40px;
  align-content: center;
}
.card {
  border-radius: 10px;
}
img .book-card {
  display: inline-block;
  width: 150px;
  height: 200px;
  margin-right: 1rem;
}

.book-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.icon-search {
  width: 40px;
}
.wrap {
  display: inline-grid;
  justify-items: center;
}
button {
  border: none;
  background: none;
}
/*.background {
  border-radius: 100%;
  position: absolute;
  left: -400px;
  top: -1400px;
  width: 953px;
  height: 953px;
  background: #e3cfac;
}*/
.content {
  position: relative;
  z-index: 100;
}
.title {
  color: #fff;
}
.wrap:active {
  background-color: #e3cfac;
  border-radius: 10px;
  padding: 5px;
}
.wrap:hover {
  background-color: #e3cfac;
  border-radius: 10px;
  padding: 5px;
}
.account {
  display: inline-flex;
  justify-content: center;
}
